.container {
	overflow: hidden;
    height: 100vh;
}
.hero-wrap {
	text-align: center;
	position: absolute;
	z-index: 1;
	@include centerer(true, true);
	transition: all 0.8s ease;
	.hero {
		@extend %clearfix;
		margin-bottom: 3.125rem;
	}
	
	.hero-character {
		display: inline-block;
	}
	.hero-title {
		font-size: $font-size-h1;
		margin-top: 0;
		text-transform: uppercase;
		letter-spacing: 3px;
		transition: all 0.8s ease;
		display: inline-block;
		text-align: center;

		span {
			display: block;
		}
	}
	&.small {
		top: 2rem;
		@include centerer(true, false);
		.hero-title {
			font-size: 2.625rem;
			span {
				display: inline-block;
			}
		}
	}
}

.btn-start {
	font-family: 'Londrina Solid', cursive;
	font-size: 1.75rem;
	cursor: pointer;
	padding: 0.625rem 0.9375rem;
	border: 4px solid #000;
	margin: 0 auto;
	display: block;
	&:hover {
		border: 4px solid lighten($red-color, 5%);
		color: lighten($red-color, 5%);
	}
}

.canvas-wrap {
	position: absolute;
	height: 100vh;
	width: 100vw;
}

.canvas {
	background-color: $light-blue-color;
	vertical-align: bottom;
}

.canvas-floor {
	position: absolute;
	height: calc(100vh * 0.15);
	width: 100vw;
	left: 0;
	right: 0;
	background-color: $floor-color;
}

.score {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	display: none;

	.icon-cartman {
		color: #000;
		font-size: 42px; 
		padding-left: 4px;
		padding-right: 4px;
	}

	&.active {
		display: flex;
		position: absolute;
		right: 60px;
		top: 30px;
	}
	
}

.handleGame {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	display: none;

	button {
		border: 2px solid black;
		padding: 10px 15px;
		font-family: 'Londrina Solid', cursive;
		cursor: pointer;
		margin-right:10px;
		font-size: 1rem;
		outline:none;

		&:hover {
			border: 2px solid lighten($red-color, 5%);
			color: lighten($red-color, 5%);
			
		}
	}

	&.active {
		display: flex;
		position: absolute;
		left: 60px;
		top: 30px;
	}


}

//ICON FONTS
.icon-cartman.hidden{
	color: #46ADB6;
}

.icon-cartman:before {
	content: "\e900";
}

.icon-kenny:before {
	content: "\e901";
}

.icon-kyle:before {
	content: "\e902";
}

.icon-stand:before {
	content: "\e903";
}